.btncontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.backBtn {
  padding: 5px;
  background-color: var(--color-black);
  border-radius: 10px;
  color: var(--color-white);
  text-decoration: none;
  font-weight: bolder;
  transition: all 0.2s;
  margin-left: 10px;
  margin-right: 10px;
}

.backBtn:hover {
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-black);
}

.buttonTop {
  display: flex;
  box-sizing: border-box;
  padding: 6px;
  font-weight: bolder;
  transition: all 0.2s;
}



@media screen and (max-width: 880px) {
  .btncontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

