.all {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bolder;
}

.listaPag {
  display: flex;
  list-style: none;
}

.listaPag li {
  padding: 11px 14px;
  cursor: pointer;
  margin: 1px;
  width: fit-content;
  height: fit-content;
  background-color: var(--color-black);
  border-radius: 5px;
}

.listaPag li:hover {
  background-color: var(--color-pagination);
  color: var(--color-black);
}

.listaPag li.active {
  background-color: var(--color-pagination);
  color: var(--color-white);
}

.previous {
  position: relative;
  color: var(--color-white);
  right: 2px;
  font-weight: bolder;
  background: none;
  padding: 10px;
  cursor: pointer;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
  background-color: var(--color-bg);
  border: none;
  font-family: "Sansita Swashed";
}

.previous:disabled {
  background-color: var(--color-light);
  font-family: "Sansita Swashed";
  color: rgb(90, 90, 90);
  cursor: default;
}

.next {
  position: relative;
  font-weight: bolder;
  color: var(--color-white);
  left: 2px;
  background: none;
  padding: 10px;
  cursor: pointer;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
  background-color: var(--color-bg);
  border: none;
  font-family: "Sansita Swashed";
}

.next:disabled {
  background-color: var(--color-light);
  font-family: "Sansita Swashed";
  color: rgb(90, 90, 90);
  cursor: default;
}

@media screen and (max-width: 600px) {
  .all {
    font-size: 8px;
    font-weight: lighter;
  }
  .previous {
    padding: 8px 2px 8px 2px;
  }
  .next {
    padding: 8px 2px 8px 2px;
  }
}

@media screen and (max-width: 400px) {
  .all {
    font-size: 8px;
    font-weight: lighter;
  }
  .previous {
    padding: 8px 2px 8px 2px;
  }
  .next {
    padding: 8px 2px 8px 2px;
  }
}
