* {
  margin: 0px;
  padding: 0px;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  padding: 10px 40px 10px 70px;
  border-left: none;
  border-right: none;
}

.searchIcon {
  height: 30px;
  width: 560px;
  display: flex;
  flex-wrap: wrap;
  background: black;
  border-radius: 20px;
}
.searchInput {
  background-color: transparent;
  border-radius: 9999px;
  color: var(--color-pagination);
  font-size: 1.8rem;
  font-weight: 500;
  width: 55rem;
  text-align: center;
  border: solid 1px var(--color-pagination);
}

.searchInput:focus {
  outline: none;
}
.searchInput:placeholder {
  color: var(--color-pagination);
}

.searchInput:active {
  box-shadow: 2px 2px 5px var(--color-pagination) inset;
}

/* ==================MEDIA QUERIES (MEDIUM DEVICES)======================== */

@media screen and (max-width: 778px) {
}
